<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add home</title>
</head>

<body>
    <header>
        <h1>Register you home here</h1>
    </header>
    <main>
        <form action="/host/add-home" method="POST">
            <input type="text" name="housename" placeholder="Enter your home name" /><br /><br />
            <input type="text" name="location" placeholder="Enter your home location" /><br /><br />
            <input type="number" name="price" placeholder="Enter your home price" /><br /><br />
            <button type="submit">Submit</button>
        </form>
    </main>
</body>

</html>