<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashbord</title>
</head>

<body>
    <header>
        <h1>Admin Dashboard</h1>
    </header>
    <main>
        <p>Welcome to the Admin Dashboard of Airbnb application.</p>
        <img src="/images/airbnb.jpg" alt="Airbnb Logo" width="200" height="200" /><br /><br />
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis velit iure corporis neque eveniet
            minima rem assumenda ab, perspiciatis sed dolorum id harum excepturi dolorem consectetur, dicta
            necessitatibus atque ad.</p>
        <a href="/">Go Back to Home</a><br /><br />
        <a href="/contact-us">Contact Us</a>
    </main>
</body>

</html>