<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered</title>
</head>

<body>
    <header>
        <h1>Home Registered Successfully</h1>
    </header>
    <main>
        <p>Home Name: ${req.body.housename}</p>
        <p>Location: ${req.body.location}</p>
        <p>Price:$${req.body.price}</p>
        <img src="/images/home.jpg" alt="Home Image" width="400" height="300" /><br /><br />
        <a href="/">Go Back to Home</a>
    </main>
</body>

</html>