<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
    <header>
        <h1>Welcome to Airbnb</h1>
    </header>
    <main>
        <a href="/host/add-home">Add Home </a><br /><br />
        <a href="/admin/dashboard">Dashboard</a><br /><br />
        <img src="/images/airbnb.jpg" alt="Airbnb Logo" width="200" height="200" /><br /><br />
        <a href="/profile">User Profile</a>
    </main>
</body>

</html>