   <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
        <div class="bg-red-400 border border-red-400 text-red-700 px-4 py-4 rounded relative mb-4"        role="alert">
            <strong class="font-bold text-red-500">Error!</strong>
            <ul class="list-disc list-inside mt-1">
            <% errors.forEach(error => { %>
                <li class="text-red-700"><%= error %></li>
            <% }) %>
            </ul>
        </div>
        <% } %>